.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.footer__left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer__left svg{
    width: 22px;
    margin-right: 0.5rem;
}

.footer__left h4,
.footer__right h4{
    margin: 0;
}

@media (max-width: 765px){
    .footer{
        padding: 1.5rem 1rem 1rem ;
    }
}
@media (max-width: 330px){
    .footer{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer__right h4{
        padding-bottom: 1rem;
    }
}