.payment__container{
    position: relative;
    flex: 0 0 30%;
    width: 30%;
}
.dot__button{
    position: absolute;
}
.payment{
    height: 100vh;
    background-color: #493F3D;
    padding: 2rem 3rem;
}
.bank-account__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bank-account__item{
    color: #aaaaaa;
    margin: 0.75rem;
    transition: color 200ms;
}
.bank-account__item.active{
    color: #ffffff;
}
.bank-account__item:hover{
    cursor: pointer;
    color: #ffffff;
}
.bank-account__item svg{
    width: 50px;
}

.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input{
    border-bottom: 1px solid #ffffff;   
}