.payment__container{
    position: relative;
    flex: 0 0 30%;
    width: 30%;
}
.dot__button{
    position: absolute;
}
.payment{
    height: 100vh;
    background-color: #493F3D;
    padding: 4rem;
    color: #ffffff;
    overflow-y: auto;
}
.payment__title{
    color: #F1C40F;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

.bank-account__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.bank-account__item{
    color: #aaaaaa;
    transition: color 200ms;
}
.bank-account__item.active{
    color: #ffffff;
}
.bank-account__item:hover{
    cursor: pointer;
    color: #ffffff;
}
.bank-account__item svg{
    width: 50px;
}

.row{
    display: flex;
    align-items: center;
}
.two-col__item{
    margin: 0 0.5rem;
}
.little-inputs input{
    font-size: 1.3rem !important;
    text-align: center;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input{
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}
.date__input{
    display: flex;
    align-items: center;
}
.date__input span{
    margin: 1rem 0.5rem 0;
}
label{
    padding: 1rem 0;
}

.payment__button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.7rem 0;
    background-color: #F1C40F;
    color: #353535;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 980px){
    .payment__container{
        flex: 0 0 100%;
        width: 100%;
    }
    .dot__button{
        display: none;
    }
    .payment{
        padding: 5rem 5rem 10rem 5rem;
        height: auto;
    }
}
@media (max-width: 765px){
    .payment{
        padding: 2rem 1.5rem 10rem;
    }
    .bank-account__item svg{
        width: 70px;
    }
}
@media (max-width: 330px){
    .payment{
        padding: 2rem 1.5rem 10rem 1.5rem;
    }
}
