.payment{
    background-color: #493F3D;
}
.bank-account__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bank-account__item{
    color: #aaaaaa;
    margin: 0.75rem;
    transition: color 200ms;
}
.bank-account__item.active{
    color: #ffffff;
}
.bank-account__item:hover{
    cursor: pointer;
    color: #ffffff;
}
.bank-account__item svg{
    width: 50px;
}